In [144]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
import chardet

# Determine what encoding the file is in
with open(r"C:\Users\Owner\OneDrive\Documents\data_science\playing_time_1819.csv", 'rb') as rawdata:
    result = chardet.detect(rawdata.read(50000))

#print(result)

minutes_1819 = pd.read_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\playing_time_1819.csv", encoding='Windows-1252', header=1, index_col='Player')
minutes_1819.head()

,Rk,Nation,Pos,Squad,Age,Born,MP,Min,Mn/MP,Min%,...,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off.1,Matches
Player,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,1,nl NED,DF,Crystal Palace,27,1990,36,3195.0,89.0,93.4,...,47.0,-3.0,-0.08,-0.48,45.8,44.2,1.5,0.04,0.00,Matches
Adrián\Adrian,2,es ESP,GK,West Ham,31,1987,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
Sergio Agüero\Sergio-Aguero,3,ar ARG,FW,Manchester City,30,1988,33,2459.0,75.0,71.9,...,15.0,57.0,2.09,0.68,60.3,18.9,41.3,1.51,0.10,Matches
Nathan Aké\Nathan-Ake,4,nl NED,DF,Bournemouth,23,1995,38,3411.0,90.0,99.7,...,70.0,-14.0,-0.37,-0.37,53.2,55.7,-2.5,-0.07,0.21,Matches
Marc Albrighton\Marc-Albrighton,5,eng ENG,FWMF,Leicester City,28,1989,27,1625.0,60.0,47.5,...,17.0,1.0,0.06,-0.04,19.6,23.0,-3.4,-0.19,-0.70,Matches

In [3]:
# Removing relegated teams
minutes_1819.drop(minutes_1819[minutes_1819.Squad == "Cardiff City"].index, inplace=True)
minutes_1819.drop(minutes_1819[minutes_1819.Squad == "Fulham"].index, inplace=True)
minutes_1819.drop(minutes_1819[minutes_1819.Squad == "Huddersfield"].index, inplace=True)
minutes_1819

,Rk,Nation,Pos,Squad,Age,Born,MP,Min,Mn/MP,Min%,...,onGA,+/-,+/-90,On-Off,onxG,onxGA,xG+/-,xG+/-90,On-Off.1,Matches
Player,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,1,nl NED,DF,Crystal Palace,27,1990,36,3195.0,89.0,93.4,...,47.0,-3.0,-0.08,-0.48,45.8,44.2,1.5,0.04,0.00,Matches
Adrián\Adrian,2,es ESP,GK,West Ham,31,1987,0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Matches
Sergio Agüero\Sergio-Aguero,3,ar ARG,FW,Manchester City,30,1988,33,2459.0,75.0,71.9,...,15.0,57.0,2.09,0.68,60.3,18.9,41.3,1.51,0.10,Matches
Nathan Aké\Nathan-Ake,4,nl NED,DF,Bournemouth,23,1995,38,3411.0,90.0,99.7,...,70.0,-14.0,-0.37,-0.37,53.2,55.7,-2.5,-0.07,0.21,Matches
Marc Albrighton\Marc-Albrighton,5,eng ENG,FWMF,Leicester City,28,1989,27,1625.0,60.0,47.5,...,17.0,1.0,0.06,-0.04,19.6,23.0,-3.4,-0.19,-0.70,Matches
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pablo Zabaleta\Pablo-Zabaleta,569,ar ARG,DF,West Ham,33,1985,26,2092.0,80.0,61.2,...,35.0,0.0,0.00,0.20,31.4,34.1,-2.7,-0.12,0.51,Matches
Wilfried Zaha\Wilfried-Zaha,570,ci CIV,FW,Crystal Palace,25,1992,34,3036.0,89.0,88.8,...,49.0,-1.0,-0.03,0.20,44.5,42.2,2.3,0.07,0.22,Matches
Davide Zappacosta\Davide-Zappacosta,572,it ITA,DF,Chelsea,26,1992,4,128.0,32.0,3.7,...,0.0,1.0,0.70,0.07,1.9,0.9,1.1,0.75,0.14,Matches
Oleksandr Zinchenko\Oleksandr-Zinchenko,573,ua UKR,DF,Manchester City,21,1996,14,1151.0,82.0,33.7,...,4.0,25.0,1.95,0.09,28.1,6.7,21.4,1.67,0.28,Matches
Kurt Zouma\Kurt-Zouma,575,fr FRA,DF,Everton,23,1994,32,2612.0,82.0,76.4,...,39.0,1.0,0.03,-0.75,36.3,33.7,2.6,0.09,0.20,Matches

In [4]:
minutes_1819.columns
minutes_1819 = minutes_1819[['Pos', 'Squad', 'Min', 'Mn/MP', '90s', 'Subs']]
minutes_1819.head()

,Pos,Squad,Min,Mn/MP,90s,Subs
Player,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,DF,Crystal Palace,3195.0,89.0,35.5,0
Adrián\Adrian,GK,West Ham,NaN,NaN,NaN,0
Sergio Agüero\Sergio-Aguero,FW,Manchester City,2459.0,75.0,27.3,2
Nathan Aké\Nathan-Ake,DF,Bournemouth,3411.0,90.0,37.9,0
Marc Albrighton\Marc-Albrighton,FWMF,Leicester City,1625.0,60.0,18.1,9

In [5]:
# Only keeping portion of player name before the "\" character
minutes_1819.index = minutes_1819.index.str.split(pat="\\", n=1).str[0]
minutes_1819.head()

                      Pos            Squad     Min  Mn/MP   90s  Subs
Player
Patrick van Aanholt    DF   Crystal Palace  3195.0   89.0  35.5     0
Adrián                 GK         West Ham     NaN    NaN   NaN     0
Sergio Agüero          FW  Manchester City  2459.0   75.0  27.3     2
Nathan Aké             DF      Bournemouth  3411.0   90.0  37.9     0
Marc Albrighton      FWMF   Leicester City  1625.0   60.0  18.1     9

In [6]:
# Filling missing values with 0
minutes_1819 = minutes_1819.fillna(0)
# Drop rows with value Min == 0 (if Min == 0, all other stats will be 0 as well)
minutes_1819.drop(minutes_1819[minutes_1819.Min == 0].index, inplace=True)

In [7]:
goals_1819 = pd.read_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\goals_1819.csv", encoding='Windows-1252', header=1, index_col='Player')
goals_1819.head()

,Rk,Nation,Pos,Squad,Age,Born,90s,Gls,Sh,SoT,...,G/SoT,FK,PK,PKatt,xG,npxG,npxG/Sh,G-xG,np:G-xG,Matches
Player,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,1,nl NED,DF,Crystal Palace,27,1990,35.5,3,44,12,...,0.25,0,0,0,2.7,2.7,0.06,0.3,0.3,Matches
Sergio Agüero\Sergio-Aguero,2,ar ARG,FW,Manchester City,30,1988,27.3,21,118,41,...,0.46,3,2,2,20.7,19.2,0.16,0.3,-0.2,Matches
Nathan Aké\Nathan-Ake,3,nl NED,DF,Bournemouth,23,1995,37.9,4,22,8,...,0.50,0,0,0,3.4,3.4,0.15,0.6,0.6,Matches
Marc Albrighton\Marc-Albrighton,4,eng ENG,FWMF,Leicester City,28,1989,18.1,2,19,7,...,0.29,0,0,0,1.1,1.1,0.06,0.9,0.9,Matches
Toby Alderweireld\Toby-Alderweireld,5,be BEL,DF,Tottenham,29,1989,32.5,0,17,6,...,0.00,0,0,0,1.1,1.1,0.07,-1.1,-1.1,Matches

In [8]:
# Cleaning up the table
# Removing relegated teams
goals_1819.drop(goals_1819[goals_1819.Squad == "Cardiff City"].index, inplace=True)
goals_1819.drop(goals_1819[goals_1819.Squad == "Fulham"].index, inplace=True)
goals_1819.drop(goals_1819[goals_1819.Squad == "Huddersfield"].index, inplace=True)

# Fixing player names by removing text after "\"
goals_1819.index = goals_1819.index.str.split(pat="\\", n=1).str[0]

# Keeping only relevant columns
goals_1819.drop(['Rk','Nation','Pos','Squad','Age','Born','90s', 'SoT%','G/Sh','G/SoT','FK','npxG','npxG/Sh','G-xG','np:G-xG','Matches'], axis=1, inplace=True)

In [9]:
goals_1819

                     Gls   Sh  SoT  Sh/90  SoT/90  PK  PKatt    xG
Player
Patrick van Aanholt    3   44   12   1.24    0.34   0      0   2.7
Sergio Agüero         21  118   41   4.32    1.50   2      2  20.7
Nathan Aké             4   22    8   0.58    0.21   0      0   3.4
Marc Albrighton        2   19    7   1.05    0.39   0      0   1.1
Toby Alderweireld      0   17    6   0.52    0.18   0      0   1.1
...                  ...  ...  ...    ...     ...  ..    ...   ...
Pablo Zabaleta         0    7    1   0.30    0.04   0      0   0.2
Wilfried Zaha         10   79   30   2.34    0.89   0      0   6.6
Davide Zappacosta      0    2    1   1.41    0.70   0      0   0.1
Oleksandr Zinchenko    0    7    1   0.55    0.08   0      0   0.1
Kurt Zouma             2   17    4   0.59    0.14   0      0   1.3

[421 rows x 8 columns]

In [10]:
minutes_1819

                      Pos            Squad     Min  Mn/MP   90s  Subs
Player
Patrick van Aanholt    DF   Crystal Palace  3195.0   89.0  35.5     0
Sergio Agüero          FW  Manchester City  2459.0   75.0  27.3     2
Nathan Aké             DF      Bournemouth  3411.0   90.0  37.9     0
Marc Albrighton      FWMF   Leicester City  1625.0   60.0  18.1     9
Toby Alderweireld      DF        Tottenham  2922.0   86.0  32.5     1
...                   ...              ...     ...    ...   ...   ...
Pablo Zabaleta         DF         West Ham  2092.0   80.0  23.2     3
Wilfried Zaha          FW   Crystal Palace  3036.0   89.0  33.7     0
Davide Zappacosta      DF          Chelsea   128.0   32.0   1.4     3
Oleksandr Zinchenko    DF  Manchester City  1151.0   82.0  12.8     0
Kurt Zouma             DF          Everton  2612.0   82.0  29.0     3

[421 rows x 6 columns]

In [11]:
min_goal = minutes_1819.join(goals_1819)

In [12]:
pass_1819 = pd.read_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\pass_1819.csv", encoding='Windows-1252', header=1, index_col='Player')
pass_1819.head()

,Squad,Cmp,Att,Cmp%,TotDist,PrgDist,Ast,xA,A-xA,KP,01-Mar,PPA,CrsPA,Prog,Matches
Player,,,,,,,,,,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,Crystal Palace,1587,1962,80.9,26851,11857,2,3.9,-1.9,34,115,63,9,292,Matches
Sergio Agüero\Sergio-Aguero,Manchester City,665,785,84.7,9245,1686,8,5.5,2.5,34,37,44,1,68,Matches
Nathan Aké\Nathan-Ake,Bournemouth,1469,1701,86.4,30143,10917,0,0.8,-0.8,5,92,7,3,91,Matches
Marc Albrighton\Marc-Albrighton,Leicester City,459,776,59.1,8932,3604,2,3.1,-1.1,30,48,29,12,101,Matches
Toby Alderweireld\Toby-Alderweireld,Tottenham,2067,2342,88.3,50426,14985,0,0.6,-0.6,7,193,23,1,133,Matches

In [13]:
# Cleaning up the table
# Removing relegated teams
pass_1819.drop(pass_1819[pass_1819.Squad == "Cardiff City"].index, inplace=True)
pass_1819.drop(pass_1819[pass_1819.Squad == "Fulham"].index, inplace=True)
pass_1819.drop(pass_1819[pass_1819.Squad == "Huddersfield"].index, inplace=True)

# Fixing player names by removing text after "\"
pass_1819.index = pass_1819.index.str.split(pat="\\", n=1).str[0]

# Keeping only relevant columns
pass_1819.drop(['Squad', 'TotDist','PrgDist','A-xA','Prog','Matches'], axis=1, inplace=True)

# Rename 01-Mar column to Final Third passes
pass_1819.rename(columns={'01-Mar':'FinalThird'}, inplace=True)

In [14]:
pass_1819

                      Cmp   Att  Cmp%  Ast   xA  KP  FinalThird  PPA  CrsPA
Player
Patrick van Aanholt  1587  1962  80.9    2  3.9  34         115   63      9
Sergio Agüero         665   785  84.7    8  5.5  34          37   44      1
Nathan Aké           1469  1701  86.4    0  0.8   5          92    7      3
Marc Albrighton       459   776  59.1    2  3.1  30          48   29     12
Toby Alderweireld    2067  2342  88.3    0  0.6   7         193   23      1
...                   ...   ...   ...  ...  ...  ..         ...  ...    ...
Pablo Zabaleta        863  1146  75.3    1  0.8   7          70   11      4
Wilfried Zaha         839  1094  76.7    5  5.6  54          61   68     10
Davide Zappacosta      77    91  84.6    0  0.1   1           2    1      1
Oleksandr Zinchenko  1208  1338  90.3    3  1.3  12         131   21      4
Kurt Zouma           1218  1429  85.2    2  0.3   6          71    4      0

[421 rows x 9 columns]

In [15]:
three_feat = min_goal.join(pass_1819)

In [16]:
defence_1819 = pd.read_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\defence_1819.csv", encoding='Windows-1252', header=1, index_col='Player')
defence_1819.head()

,Squad,Tkl,TklW,Blocks,Int,Clr,Err
Player,,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,Crystal Palace,46,32,61,42,98,1
Sergio Agüero\Sergio-Aguero,Manchester City,17,14,22,8,1,0
Nathan Aké\Nathan-Ake,Bournemouth,60,37,70,32,237,0
Marc Albrighton\Marc-Albrighton,Leicester City,37,23,30,22,19,0
Toby Alderweireld\Toby-Alderweireld,Tottenham,41,23,54,25,162,1

In [17]:
# Cleaning up the table
# Removing relegated teams
defence_1819.drop(defence_1819[defence_1819.Squad == "Cardiff City"].index, inplace=True)
defence_1819.drop(defence_1819[defence_1819.Squad == "Fulham"].index, inplace=True)
defence_1819.drop(defence_1819[defence_1819.Squad == "Huddersfield"].index, inplace=True)

# Fixing player names by removing text after "\"
defence_1819.index = defence_1819.index.str.split(pat="\\", n=1).str[0]

# Keeping only relevant columns
defence_1819.drop(['Squad'], axis=1, inplace=True)

In [18]:
four_feat = three_feat.join(defence_1819)

In [19]:
four_feat

,Pos,Squad,Min,Mn/MP,90s,Subs,Gls,Sh,SoT,Sh/90,...,KP,FinalThird,PPA,CrsPA,Tkl,TklW,Blocks,Int,Clr,Err
Player,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt,DF,Crystal Palace,3195.0,89.0,35.5,0,3,44,12,1.24,...,34,115,63,9,46,32,61,42,98,1
Sergio Agüero,FW,Manchester City,2459.0,75.0,27.3,2,21,118,41,4.32,...,34,37,44,1,17,14,22,8,1,0
Nathan Aké,DF,Bournemouth,3411.0,90.0,37.9,0,4,22,8,0.58,...,5,92,7,3,60,37,70,32,237,0
Marc Albrighton,FWMF,Leicester City,1625.0,60.0,18.1,9,2,19,7,1.05,...,30,48,29,12,37,23,30,22,19,0
Toby Alderweireld,DF,Tottenham,2922.0,86.0,32.5,1,0,17,6,0.52,...,7,193,23,1,41,23,54,25,162,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pablo Zabaleta,DF,West Ham,2092.0,80.0,23.2,3,0,7,1,0.30,...,7,70,11,4,52,28,50,48,89,3
Wilfried Zaha,FW,Crystal Palace,3036.0,89.0,33.7,0,10,79,30,2.34,...,54,61,68,10,43,33,31,9,2,0
Davide Zappacosta,DF,Chelsea,128.0,32.0,1.4,3,0,2,1,1.41,...,1,2,1,1,1,1,4,3,3,0
Oleksandr Zinchenko,DF,Manchester City,1151.0,82.0,12.8,0,0,7,1,0.55,...,12,131,21,4,31,16,18,22,28,0
Kurt Zouma,DF,Everton,2612.0,82.0,29.0,3,2,17,4,0.59,...,6,71,4,0,34,20,48,50,160,2

In [20]:
misc_1819 = pd.read_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\misc_1819.csv", encoding='Windows-1252', header=1, index_col='Player')
misc_1819.head()

,Squad,CrdY,CrdR,Fls,Off,OG,Recov
Player,,,,,,,
Patrick van Aanholt\Patrick-van-Aanholt,Crystal Palace,3,0,12,11,0,331
Sergio Agüero\Sergio-Aguero,Manchester City,4,0,22,26,0,129
Nathan Aké\Nathan-Ake,Bournemouth,3,0,28,2,0,353
Marc Albrighton\Marc-Albrighton,Leicester City,3,0,10,2,0,157
Toby Alderweireld\Toby-Alderweireld,Tottenham,3,0,10,1,1,356

In [21]:
# Cleaning up the table
# Removing relegated teams
misc_1819.drop(misc_1819[(misc_1819.Squad == "Cardiff City") | (misc_1819.Squad == "Fulham") | (misc_1819.Squad == "Huddersfield")].index, inplace=True)

# Fixing player names by removing text after "\"
misc_1819.index = misc_1819.index.str.split(pat="\\", n=1).str[0]

# Keeping only relevant columns
misc_1819.drop(['Squad'], axis=1, inplace=True)

In [22]:
misc_1819.head()

                     CrdY  CrdR  Fls  Off  OG  Recov
Player
Patrick van Aanholt     3     0   12   11   0    331
Sergio Agüero           4     0   22   26   0    129
Nathan Aké              3     0   28    2   0    353
Marc Albrighton         3     0   10    2   0    157
Toby Alderweireld       3     0   10    1   1    356

In [23]:
features = four_feat.join(misc_1819)

In [24]:
# Removing whitespace from the beginning and end of the index values
features.index.str.strip()

Index(['Patrick van Aanholt', 'Sergio Agüero', 'Nathan Aké', 'Marc Albrighton',
       'Toby Alderweireld', 'Trent Alexander-Arnold', 'Alisson', 'Dele Alli',
       'Miguel Almirón', 'Marcos Alonso',
       ...
       'Granit Xhaka', 'Andriy Yarmolenko', 'DeAndre Yedlin', 'Maya Yoshida',
       'Ashley Young', 'Pablo Zabaleta', 'Wilfried Zaha', 'Davide Zappacosta',
       'Oleksandr Zinchenko', 'Kurt Zouma'],
      dtype='object', name='Player', length=421)

In [56]:
points_1819 = pd.read_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\points_1819.csv", encoding='Windows-1252')

In [57]:
# Removing players with 0 fantasy points
points_1819.drop(points_1819[points_1819.total_points == 0].index, inplace=True)

In [58]:
# Filling missing values with blank spaces
points_1819.fillna('', inplace=True)

In [59]:
points_1819.loc[points_1819['first_name'] == 'Bernard']

   first_name second_name  total_points
14    Bernard                        88

In [60]:
# Creating a 'Player' column to match up with the 'Player' column in the previous dataframe
points_1819['Player'] = np.where(points_1819['second_name']=='', points_1819['first_name'], points_1819['first_name'] + " " + points_1819['second_name'])

In [61]:
# Dropping the two name columns after creating the 'Player' column
points_1819.drop(['first_name', 'second_name'], axis=1, inplace=True)

In [62]:
# Making 'Player' column the index
points_1819.index = points_1819['Player']
points_1819.drop(['Player'], axis=1, inplace=True)

In [63]:
# Removing whitespace at the beginning and end of the values
points_1819.index.str.strip()

Index(['Fabricio Agosto Ramírez', 'Sergio Agüero', 'Nathan Aké',
       'Marc Albrighton', 'Toby Alderweireld', 'Trent Alexander-Arnold',
       'Dele Alli', 'Miguel Almirón', 'Marcos Alonso', 'Daniel Amartey',
       ...
       'DeAndre Yedlin', 'Maya Yoshida', 'Ashley Young', 'Pablo Zabaleta',
       'Wilfried Zaha', 'André-Frank Zambo Anguissa', 'Davide Zappacosta',
       'Oleksandr Zinchenko', 'Kenneth Zohore', 'Kurt Zouma'],
      dtype='object', name='Player', length=505)

In [64]:
# Sorting the index in alphabetical order
points_1819.sort_index(inplace=True)

In [65]:
points_1819

                 total_points
Player
Aaron Cresswell            34
Aaron Lennon               41
Aaron Mooy                 76
Aaron Ramsey               91
Aaron Rowe                  2
...                       ...
Yves Bissouma              43
Álvaro Morata              46
Çaglar Söyüncü              9
Érik Lamela                67
Étienne Capoue             79

[505 rows x 1 columns]

In [66]:
# Renaming index values with unknown characters (only 12 so not difficult to do manually)
features.rename(index={'Marko Arnautovi?':'Marko Arnautovic', 'Asmir Begovi?':'Asmir Begovic', 'Petr ?ech':'Petr Cech',
                          '?ukasz Fabia?ski':'Lukasz Fabianski', '?lkay Gündo?an':'Ilkay Gündogan', 'Mateo Kova?i?':'Mateo Kovacic',
                          'Nemanja Mati?':'Nemanja Matic', 'Luka Milivojevi?':'Luka Milivojevic', 'Yoshinori Mut?':'Yoshinori Muto',
                          'Ça?lar Söyüncü':'Çaglar Söyüncü', 'Mat?j Vydra':'Matej Vydra'}, inplace=True)

In [71]:
# Joining the points data onto the season data 
final_feats = features.join(points_1819)
final_feats

,Pos,Squad,Min,Mn/MP,90s,Subs,Gls,Sh,SoT,Sh/90,...,Int,Clr,Err,CrdY,CrdR,Fls,Off,OG,Recov,total_points
Player,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt,DF,Crystal Palace,3195.0,89.0,35.5,0,3,44,12,1.24,...,42,98,1,3,0,12,11,0,331,140
Sergio Agüero,FW,Manchester City,2459.0,75.0,27.3,2,21,118,41,4.32,...,8,1,0,4,0,22,26,0,129,201
Nathan Aké,DF,Bournemouth,3411.0,90.0,37.9,0,4,22,8,0.58,...,32,237,0,3,0,28,2,0,353,120
Marc Albrighton,FWMF,Leicester City,1625.0,60.0,18.1,9,2,19,7,1.05,...,22,19,0,3,0,10,2,0,157,63
Toby Alderweireld,DF,Tottenham,2922.0,86.0,32.5,1,0,17,6,0.52,...,25,162,1,3,0,10,1,1,356,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pablo Zabaleta,DF,West Ham,2092.0,80.0,23.2,3,0,7,1,0.30,...,48,89,3,4,0,18,2,0,223,56
Wilfried Zaha,FW,Crystal Palace,3036.0,89.0,33.7,0,10,79,30,2.34,...,9,2,0,9,1,45,16,0,228,143
Davide Zappacosta,DF,Chelsea,128.0,32.0,1.4,3,0,2,1,1.41,...,3,3,0,0,0,2,0,0,13,9
Oleksandr Zinchenko,DF,Manchester City,1151.0,82.0,12.8,0,0,7,1,0.55,...,22,28,0,1,0,15,1,0,153,44
Kurt Zouma,DF,Everton,2612.0,82.0,29.0,3,2,17,4,0.59,...,50,160,2,4,1,21,2,0,350,112

In [142]:
# Cutting 'Pos' value lengths to two characters
final_feats['Pos'] = np.where(final_feats['Pos'].str.len() == 4, final_feats['Pos'].str[2:], final_feats['Pos'])

In [76]:
# Creating a separate dataframe for goalkeepers
gk_df = final_feats[final_feats.Pos == 'GK']
gk_df

,Pos,Squad,Min,Mn/MP,90s,Subs,Gls,Sh,SoT,Sh/90,...,Clr,Err,CrdY,CrdR,Fls,Off,OG,Recov,total_points,CBI
Player,,,,,,,,,,,,,,,,,,,,,
Alisson,GK,Liverpool,3420.0,90.0,38.0,0,0,0,0,0.00,...,0,4,1,0,0,0,0,223,176,1
Kepa Arrizabalaga,GK,Chelsea,3240.0,90.0,36.0,0,0,0,0,0.00,...,0,2,2,0,0,0,0,162,142,0
Asmir Begovic,GK,Bournemouth,2160.0,90.0,24.0,0,0,0,0,0.00,...,1,1,0,0,0,0,0,117,63,1
Artur Boruc,GK,Bournemouth,1080.0,90.0,12.0,0,0,0,0,0.00,...,0,0,2,0,0,0,0,61,46,0
David Button,GK,Brighton,360.0,90.0,4.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,17,15,0
Willy Caballero,GK,Chelsea,180.0,90.0,2.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,3,13,1
Petr Cech,GK,Arsenal,584.0,83.0,6.5,0,0,0,0,0.00,...,0,0,0,0,0,0,0,31,24,0
Martin Dúbravka,GK,Newcastle Utd,3420.0,90.0,38.0,0,0,0,0,0.00,...,5,3,1,0,1,0,0,195,131,5
Ederson,GK,Manchester City,3420.0,90.0,38.0,0,0,0,0,0.00,...,1,1,2,0,2,0,0,152,169,2
Lukasz Fabianski,GK,West Ham,3420.0,90.0,38.0,0,0,0,0,0.00,...,3,0,0,0,0,0,0,201,143,4
Fraser Forster,GK,Southampton,90.0,90.0,1.0,0,0,0,0,0.00,...,0,1,0,0,0,0,0,2,2,0
Ben Foster,GK,Watford,3420.0,90.0,38.0,0,0,1,0,0.03,...,6,1,1,0,2,0,0,202,129,7
Paulo Gazzaniga,GK,Tottenham,270.0,90.0,3.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,11,13,0
David de Gea,GK,Manchester Utd,3420.0,90.0,38.0,0,0,0,0,0.00,...,2,1,1,0,1,0,0,166,120,3
Vicente Guaita,GK,Crystal Palace,1754.0,88.0,19.5,0,0,0,0,0.00,...,2,1,2,0,1,0,0,99,81,3
Angus Gunn,GK,Southampton,1080.0,90.0,12.0,0,0,0,0,0.00,...,1,1,0,0,0,0,0,44,47,1
Joe Hart,GK,Burnley,1710.0,90.0,19.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,96,69,0
Tom Heaton,GK,Burnley,1710.0,90.0,19.0,0,0,1,0,0.05,...,1,1,3,0,1,0,0,87,58,1
Wayne Hennessey,GK,Crystal Palace,1576.0,88.0,17.5,1,0,0,0,0.00,...,0,0,0,0,0,0,0,86,67,0
Bernd Leno,GK,Arsenal,2836.0,89.0,31.5,1,0,0,0,0.00,...,0,2,0,0,0,0,0,166,106,3
Hugo Lloris,GK,Tottenham,2970.0,90.0,33.0,0,0,0,0,0.00,...,2,0,0,0,0,0,0,158,145,5
Alex McCarthy,GK,Southampton,2250.0,90.0,25.0,0,0,0,0,0.00,...,0,1,1,0,0,0,0,114,73,0
Will Norris,GK,Wolves,1.0,1.0,0.0,1,0,0,0,0.00,...,0,0,0,0,0,0,0,0,1,0
Rui Patrício,GK,Wolves,3329.0,90.0,37.0,0,0,0,0,0.00,...,2,2,1,0,0,0,0,144,118,2
Jordan Pickford,GK,Everton,3420.0,90.0,38.0,0,0,0,0,0.00,...,3,3,1,0,1,0,0,186,161,3
John Ruddy,GK,Wolves,90.0,90.0,1.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,1,7,0
Mathew Ryan,GK,Brighton,3060.0,90.0,34.0,0,0,0,0,0.00,...,1,0,2,0,1,0,0,147,104,1
Kasper Schmeichel,GK,Leicester City,3420.0,90.0,38.0,0,0,1,0,0.03,...,2,0,3,0,0,0,0,164,120,5
Julián Speroni,GK,Crystal Palace,90.0,90.0,1.0,0,0,0,0,0.00,...,0,1,0,0,0,0,0,7,1,0
Mark Travers,GK,Bournemouth,180.0,90.0,2.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,13,9,0
Michel Vorm,GK,Tottenham,180.0,90.0,2.0,0,0,0,0,0.00,...,0,0,0,0,0,0,0,9,5,0

In [81]:
final_feats.drop(final_feats[final_feats.Pos == "GK"].index, axis=0, inplace=True)

In [72]:
final_feats.columns

Index(['Pos', 'Squad', 'Min', 'Mn/MP', '90s', 'Subs', 'Gls', 'Sh', 'SoT',
       'Sh/90', 'SoT/90', 'PK', 'PKatt', 'xG', 'Cmp', 'Att', 'Cmp%', 'Ast',
       'xA', 'KP', 'FinalThird', 'PPA', 'CrsPA', 'Tkl', 'TklW', 'Blocks',
       'Int', 'Clr', 'Err', 'CrdY', 'CrdR', 'Fls', 'Off', 'OG', 'Recov',
       'total_points'],
      dtype='object')

In [82]:
# Feature engineering
# Adding total number of clearances, blocks and interceptions
final_feats['CBI'] = final_feats['Blocks'] + final_feats['Int'] + final_feats['Clr']
# Penalty kicks missed
final_feats['PK_miss'] = final_feats['PKatt'] - final_feats['PK']
# Number of net successful tackles
final_feats['succ_tackle'] = final_feats['TklW'] - (final_feats['Tkl'] - final_feats['TklW'])

In [83]:
final_feats

,Pos,Squad,Min,Mn/MP,90s,Subs,Gls,Sh,SoT,Sh/90,...,CrdY,CrdR,Fls,Off,OG,Recov,total_points,CBI,PK_miss,succ_tackle
Player,,,,,,,,,,,,,,,,,,,,,
Patrick van Aanholt,DF,Crystal Palace,3195.0,89.0,35.5,0,3,44,12,1.24,...,3,0,12,11,0,331,140,201,0,18
Sergio Agüero,FW,Manchester City,2459.0,75.0,27.3,2,21,118,41,4.32,...,4,0,22,26,0,129,201,31,0,11
Nathan Aké,DF,Bournemouth,3411.0,90.0,37.9,0,4,22,8,0.58,...,3,0,28,2,0,353,120,339,0,14
Marc Albrighton,FWMF,Leicester City,1625.0,60.0,18.1,9,2,19,7,1.05,...,3,0,10,2,0,157,63,71,0,9
Toby Alderweireld,DF,Tottenham,2922.0,86.0,32.5,1,0,17,6,0.52,...,3,0,10,1,1,356,107,241,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pablo Zabaleta,DF,West Ham,2092.0,80.0,23.2,3,0,7,1,0.30,...,4,0,18,2,0,223,56,187,0,4
Wilfried Zaha,FW,Crystal Palace,3036.0,89.0,33.7,0,10,79,30,2.34,...,9,1,45,16,0,228,143,42,0,23
Davide Zappacosta,DF,Chelsea,128.0,32.0,1.4,3,0,2,1,1.41,...,0,0,2,0,0,13,9,10,0,1
Oleksandr Zinchenko,DF,Manchester City,1151.0,82.0,12.8,0,0,7,1,0.55,...,1,0,15,1,0,153,44,68,0,1
Kurt Zouma,DF,Everton,2612.0,82.0,29.0,3,2,17,4,0.59,...,4,1,21,2,0,350,112,258,0,6

In [158]:
final_feats.to_csv(r"C:\Users\Owner\OneDrive\Documents\data_science\fpl_data_1819.csv")